html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevents scrollbars */
  background-color: rgb(177, 221, 238); /* Matches your sketch background */
}

.tp-dfwv {
  z-index: 9999 !important;
}

#canvasContainers{
    width: 100%;
    height: 100%;
}

#canvasPolygonPoints {
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index:1;
}

#canvasZPoints {
  top: 68%;
  left: 68%;
  width: 30%;
  height: 30%;
  background-color: rgb(208, 237, 247,0.90);
  border-radius: 10px;
  position: absolute;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(126, 211, 241,0.90);
  z-index:2;
}

#toggleOptions{
  top: 30%;
  left: 68%;
  width: 30%;
  height: 30%;
  background-color: rgb(208, 237, 247,0.90);
  border-radius: 10px;
  position: absolute;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(126, 211, 241,0.90);
  z-index:2;
}

canvas {
  display: block;        /* Removes the bottom gap */
}

@media (max-width: 800px) {
  #canvasContainers {
    flex-direction: column; /* Stack vertically */
  }
}



:root {
    --tp-base-font-size: 24px !important;
    --tp-base-background-color: rgb(126, 211, 241, 0.9);
    --tp-base-shadow-color: rgb(126, 211, 241, 0.9);
    --tp-button-background-color: rgb(113, 152, 153, 0.9);
    --tp-button-background-color-active: rgb(113, 152, 163, 0.9);
    --tp-button-background-color-focus: rgb(113, 152, 163, 0.9);
    --tp-button-background-color-hover: rgb(113, 152, 163, 0.9);
    --tp-button-foreground-color: rgb(126, 211, 241, 0.9);
    --tp-container-background-color: rgb(4, 89, 112, 0.9);
    --tp-container-background-color-active: rgb(126, 211, 241, 0.9);
    --tp-container-background-color-focus: rgb(126, 211, 241, 0.9);
    --tp-container-background-color-hover: rgb(126, 211, 241, 0.9);
    --tp-container-foreground-color: hsla(0, 0%, 100%, 0.9);
    --tp-groove-foreground-color: rgb(126, 211, 241, 0.9);
    --tp-input-background-color: rgb(4, 89, 112, 0.9);
    --tp-input-background-color-active: rgb(126, 211, 241, 0.9);
    --tp-input-background-color-focus: rgb(126, 211, 241, 0.9);
    --tp-input-background-color-hover: rgb(126, 211, 241, 0.9);
    --tp-input-foreground-color: hsla(0, 0%, 100%, 0.9);
    --tp-label-foreground-color: hsla(0, 0%, 100%, 0.9);
    --tp-monitor-background-color: rgb(126, 211, 241, 0.9);
    --tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.9);
}
