html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevents scrollbars */
  background-color: #222; /* Matches your sketch background */
}

#canvasContainers{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #222;
}

#canvasZPoints, #canvasPolygonPoints {
  flex: 1;               /* Makes both divs share the space equally */
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;        /* Removes the bottom gap */
}

@media (max-width: 400px) {
  #canvasContainers {
    flex-direction: column; /* Stack vertically */
  }
}
