html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevents scrollbars */
  background-color: rgb(177, 221, 238); /* Matches your sketch background */
}

.tp-dfwv {
  z-index: 9999 !important;
}

#canvasContainers{
    width: 100%;
    height: 100%;
}

#canvasPolygonPoints {
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index:1;
}

#canvasZPoints {
  top: 68%;
  left: 68%;
  width: 30%;
  height: 30%;
  background-color: rgb(208, 237, 247,0.90);
  border-radius: 10px;
  position: absolute;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(126, 211, 241,0.90);
  z-index:2;
}

canvas {
  display: block;        /* Removes the bottom gap */
}

@media (max-width: 800px) {
  #canvasContainers {
    flex-direction: column; /* Stack vertically */
  }
}
